.projectsSection {
  background: #303846;
  padding: 80px 0;
}

.projectsSection h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 33.33%;
  float: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 8px 0;
  cursor: pointer;
  color: #cbd5e1;
  transition: 0.2s;
}

.sidebar li:hover {
  color: #ffffff;
}

.active {
  color: #ffffff !important;
  font-weight: 600;
}

.viewAllProjects {
  margin-top: 22px;
}

.content {
  display: flex;
  justify-content: center;
}

.projectCard {
  background: #1b1b1d;
  border-radius: 20px;
  padding: 24px;
  color: #fff;
  width: 100%;
  max-width: 850px;
}

.projectTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.projectContent {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 32px;
  align-items: flex-start;
}

.projectLeft {
  width: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.miniSkills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.miniSkillCard {
  background: #303846;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.8rem;
  display: inline-block;
  border: 1px solid #303846;
}

.miniSkillCard img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  float: left;
}

.projectRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projectRight p {
  font-size: 0.9rem;
  color: #d6dbe3;
  margin: 0 0 38px 0;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: auto;
  justify-content: flex-end;
}
